/* color scheme:
light grey: #dcdcdc, #ebebeb
gray: #aeaeae
charcoal: #656565
darker grey: #4a4a4a
sky blue: #66C3E0
white blue: #C0F0FF
red:  #a22424;


main: #336699;
grey blue: #7192B2;
slightly darker blue: #285078;
dark grey blue: #415366;
*/

html, body {
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #ebebeb;
    font-size: 32px;
}

h1 {
    padding-top: 15px;
    color: #313834;
}

/* Index */

#index {
  background: url(../_img/paper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    text-align: center;
}

header#index {
    padding-top: 11%;
}

#index container {
    height: 50%;
}

section {
    background-color: transparent;
    padding-bottom: 13px;
    color: #313834;
}

/* Nav Styles */

ul.submenu {
    padding: 10px;
}


li.submenu {
    font-size: .5em;
    color: white;
}


/* Writing */
.container header {
    padding-top: 10%;
}




/* Media */

#gallery {
    width: 95%;
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}

#gallery img {
    padding: 6px;
    height: 250px;
    width: 250px;
    overflow: hidden;
}


/* About and Contact */

form {
    text-align: center;
    color: #285078;
    font-size: 20px;
    text-transform: uppercase;
}

form p {
    text-align: right;
    padding-right: 35%;
}

form p input.message {
    width: 300px;
    height: 100px;
    position: relative;
}

section#about {
    background-color: transparent;
    padding-bottom: 3px;
    color: #313834;
}

input.submit {
    text-transform: uppercase;
    background-color: #336699;
    box-shadow: none;
}
/* Link styles */

a, a:visited, #text a:visited {
    color: #656565;
    text-decoration: none;
}

a:hover, #text a:hover {
    color: #656565;
}


/* footer */

footer {
    height: 50px;
    background-color: #4a4a4a;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    display: inline-block;
}

.copyright {
    padding-left: 15px;
    text-align: right;
    float: right;
    padding-top: 15px;
    padding-right: 13px;
    color: #dcdcdc;
}


/* social media links */

ul.share-buttons{
  list-style: none;
    padding-bottom: 1px;
}

ul.share-buttons li{
    display: inline;
    padding-left: 2px;
}

#icons {
    float: left;
}

/* Home navbar */

html {
    height: 100%;
    background-image: url(../img/background2.jpg);
    background-size: 100%;
    filter: blur(100px);
}

.nav, .writingnav {
    padding-top: 19px;
}

.nav ul, .writingnav ul {
  text-align:center;
    position: relative;
    left: -20px;
    top: -50px;
}
.nav ul li, .writingnav ul li {
  display: inline-block;
}

.nav ul li a {
  font-family:"Lato";
  color: rgba(0, 35, 34, 0.6);
  font-size: 15px;
  text-transform:uppercase;
  text-decoration:none;
}

.writingnav ul li a {
  font-family:"Lato";
  color: rgba(62,70,65, 0.9);
  text-decoration:none;
}


.nav ul li a, .writingnav ul li a {
  background:rgba(174, 174, 174, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1), inset  0 0 1px rgba(225, 255, 255, 0.4);
  width:150px;
  height:150px;
  line-height:145px;
  border-radius: 50%;
  display:block;
}

.nav ul li a:hover, .writingnav ul li a:hover {
  transition-duration: 300ms;
  background: rgba(51,102,153, 0.4);
}
