/* color scheme:
light grey: #dcdcdc, #ebebeb
gray: #aeaeae
charcoal: #656565
darker grey: #4a4a4a
sky blue: #66C3E0
white blue: #C0F0FF
red:  #a22424;

darker: #75B2A7
accent: #80C4B7
grey: #E5E5E5
*/

html, body {
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #ebebeb;
    font-size: 32px;
}

h1 {
    padding-top: 15px;
    color: #fff;
}


section {
    background-color: transparent;
    padding-bottom: 13px;
    color: #fff;
}

/* Work */

div.headerWork {
    text-align: center;
    padding-top: 8%;
}

.container .headerWork h1 {
    font-size: 4em;
}

/* Writing */
.container header {
    padding-top: 10%;
}

/* Link styles */

a, a:visited, #text a:visited {
    color: #80C4B7;
    text-decoration: none;
}

a:hover, #text a:hover {
    color: #fff;
}


/* footer */

footer {
    height: 50px;
    background-color: #4a4a4a;
    position: fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    display: inline-block;
    color: #fff;
}

.copyright {
    padding-left: 15px;
    text-align: right;
    float: right;
    padding-top: 15px;
    padding-right: 13px;
    color: #fff;
}


/* social media links */

ul.share-buttons{
  list-style: none;
    padding-bottom: 1px;
}

ul.share-buttons li{
    display: inline;
    padding-left: 2px;
}

#icons {
    float: left;
}

/* Home navbar */

html {
    height: 100%;
    background-image: url(../img/background2.jpg);
    background-size: 100%;
    filter: blur(100px);
}

.nav, .writingnav {
    padding-top: 19px;
}

.nav ul, .writingnav ul {
    text-align:center;
    position: relative;
    right: 20px;
    top: -50px;
}
.nav ul li, .writingnav ul li {
  display: inline-block;
}

.nav ul li a {
  font-family:"Lato";
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  text-transform:uppercase;
  text-decoration:none;
}

.writingnav ul li a {
  font-family:"Lato";
  color: rgba(255, 255, 255, 0.6);
  text-decoration:none;
}


.nav ul li a, .writingnav ul li a {
  background:rgba(174, 174, 174, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1), inset  0 0 1px rgba(225, 255, 255, 0.4);
  width:150px;
  height:150px;
  line-height:145px;
  border-radius: 50%;
  display:block;
}

.nav ul li a:hover, .writingnav ul li a:hover {
  transition-duration: 300ms;
  background: rgba(128,196,183, 0.7);
}
