/* Writing Pages Styles */

/* color scheme:
light grey: #dcdcdc, #ebebeb
gray: #aeaeae
charcoal: #656565
darker grey: #4a4a4a
sky blue: #66C3E0
white blue: #C0F0FF
red:  #a22424;

darker: #75B2A7
accent: #80C4B7
grey: #E5E5E5
*/



html,
body {
    height: 100%;
    margin: 0
}

#content {
    width: 100%;
    height: 100%
}

#left {
    width: 35%;
    height: 100%;
    float: left;
    color: #dcdcdc;
    background-color: #656565;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

#right {
    height: 100%;
    padding-left: 5px;
}

#right iframe {
    width: 60%;
    height: 90%;
    margin: auto;
}

body img {
    padding-top: 6%;
}

body h1 {
    font-size: 2em;
}


.writing ul {
    position: fixed;
    text-align: center;
    width: 30%;
}


div .writing ul li {
    list-style-type: none;
    line-height: 30px;
}

div .writing ul li.current {
    border-bottom: 1px solid #75B2A7;
    padding-bottom: -2px;
}

div .writing ul li a {
    color: #80C4B7;
}


/* footer */

.copyright {
    text-align: left;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 4px;
    position: fixed;
    bottom: 0px;
}

div .writing ul li.backtowork {
    list-style-type: none;
    line-height: 30px;
    color: black;
}

#content #right img {
    height: 90%;
    max-width: 65%;
    padding-left: 70px;
}




 /* BLUE NAV */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
/*	background: #fff;*/
	color: #8a8c7e;
	font-size: 15px;
	line-height: 1;
	font-family: 'Lato', Arial, sans-serif;
}

a {
	color: #656565;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #656565;
}

header {
	margin: 0 auto;
	padding: 2em 0 0;
	text-align: center;
}

h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.5em;
}

header h1 span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 0.6em;
	opacity: 0.7;
}

/* To Navigation Style */

.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.69em;
	line-height: 2.2;
	background: #fff;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

.codrops-demos {
	margin: 30px auto 0;
	padding: 30px 0;
}

.codrops-demos a,
section button {
	display: inline-block;
	background: #a9a9a9;
	color: #fff;
	font-weight: 400;
	padding: 10px 20px;
	margin: 5px;
	text-transform: uppercase;
	border-radius: 2px;
	letter-spacing: 1px;
}

.codrops-demos a:hover,
.codrops-demos a:active,
.codrops-demos a.current-demo {
	background: #777;
}

#content #left section {
	text-align: center;
	font-size: 1.5em;
}

#content #left section p {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
}

#content #left section button {
	border: none;
	outline: none;
	background: transparent;
    color: #80C4B7;
    font-size: 2.5em;

	position: fixed;
	left: 30px;
	top: 0px;
	z-index: 100;
}


@media screen and (max-width: 25em) {
	.codrops-icon span {
		display: none;
	}
}
